.second__banner{
    width: 100%;
    height: 167px;
    .second__banner__cenetr{
        margin: 20px auto;
        width: 80%;
        height: 147px;
        & img{
            width: 100%;
            height: 147px;
            border-radius: 15px;
        }
    }
}